* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --blue-900: #065E7C;
    --blue-800: #387E96;
    --white: #ffffff;
    --white-alpha20: rgba(255, 255, 255, 0.2);
    --gray_900: #202024;
    --gray-800: #121214;
    --gray-100: #F4FCFF;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 72px auto auto 64px;
    grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer"
    ;

    font-size: 1.6rem;
}

body,
input,
button {
    font-family: "Mulish", sans-serif;
}

header {
    grid-area: header;
    background-color: var(--blue-900);
    padding: 1.6rem 2.8rem;
    min-width: 38rem;
}

.container {
    max-width: 60rem;
    margin: 0 auto;

    display: flex;
    
    align-items: center;
    gap: 2.4rem;
}

.container > img {
    height: 4rem;
    transition: .2s;
}

.container > img:hover {
    cursor: pointer;
    transform: scale(1.1);
    
}

.container form {
    width: 100%;
}

.container .input-wrapper label {
    display: none;
}

.container .input-wrapper input {
    width: 100%;
    height: 4rem;

    background-color: var(--blue-800);
    border: none;
    border-radius: .4rem;

    padding: 0 1.6rem;

    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;

    outline: none;
}

.container .input-wrapper input::placeholder {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
}

.container .avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

main, aside {
    background-color: var(--gray-100);
}


main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: element-appear 1s;
    animation-fill-mode: forwards;
}

main .hero-article {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

article {
    padding: 3.2rem 2.8rem;
}

article .article-wrapper {
    max-width: 60rem;
    margin: 0 auto;
}

.article-wrapper .article-title {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 3.2rem;
}

.article-wrapper .article-title h1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.8rem;
    color: var(--gray_900);
}

.article-wrapper .btns-wrapper {
    display: flex;
    gap: 1.2rem;
}

.article-wrapper .btns-wrapper img {
    transition: .3s;
}

.article-wrapper .btns-wrapper img:hover {
    cursor: pointer;
    filter: opacity(.7);
}

.article-wrapper p {
    color: var(--gray-800);
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.article-wrapper p + p {
    margin-top: 2.4rem;
}

aside {
    grid-area: aside;
    padding: 0 2.8rem 3.2rem;
}

aside .article-list-wrapper {
    max-width: 60rem;
    margin: 0 auto;
}

aside .article-list-wrapper h2 {
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 600;
    color: var(--gray_900);
}


aside .article-list-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
    transition: 0.2s;
    opacity: 0;
    animation: element-appear 1s;
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
}

aside .article-list-item:hover {
    filter: opacity(.7);
}

aside .article-list-item img {
    width: 14.5rem;
    height: 8.4rem;
    object-fit: cover;
    border-radius: .5rem;
}

aside .article-list-item img:hover {
    cursor: pointer;
}

aside .article-list-item .article-item-details {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: var(--gray-800);
}

aside .article-list-item .article-item-details:hover {
    cursor: pointer;
    text-decoration: underline;
}

aside .article-list-item .article-item-details h3 {
    font-size: 1.8rem;
    /* line-height: 2.8rem; */
    font-weight: 600;
}

aside .article-list-item .article-item-details p {
    font-size: 1.4rem;
    line-height: 2.1rem;
}


footer {
    grid-area: footer;
    background-color: var(--blue-800);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
}


/* DESKTOP */

@media screen and (min-width: 1024px) {

    body {
        grid-template-rows: 72px auto 64px;
        grid-template-columns: 2fr calc(1fr + 34px);
        grid-template-areas: 
            "header header"
            "main aside"
            "footer footer"
        ;

        column-gap: 34px;

        background-color: var(--gray-100);
    }

    .container {
        max-width: 122rem;
    }

    main {
        align-items: end;
        padding: 4.4rem 0;
        margin-left: 28px;
    }

    main .hero-article {
        max-width: 80.2rem;
        height: 40rem;
        object-fit: cover;
        border-radius: 5px;
    }

    article {
        max-width: 80.2rem;
        padding: 3.2rem 0 0;

    }

    .article-wrapper .article-title {
        flex-direction: row;
        justify-content: space-between;
    }

    aside {
        padding: 4.4rem 0;
        margin-right: 28px;
    }

    aside .article-list-wrapper {
        width: min(32vw, 38.4rem);
        padding: 0;
        margin: 0;
    }

    article .article-wrapper {
        max-width: 80.2rem;
        margin: 0;
    }

    
}

/* ANIMATION */

@keyframes element-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}